# =============== Unity Temp & Cache ===============
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Aa]ssets/AssetStoreTools/

# =============== Builds ===============
*.apk
*.aab
*.unitypackage
*.app
*.exe

# =============== Visual Studio / VS Code / Rider ===============
.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# =============== OS Generated ===============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ===========
scenario_sample.csv
.git/
DEV_ENVIRONMENT.md
SYSTEM_DESIGN.md
Assets/Resources/